body{

	
}

/*Modal*/
#mask {position:absolute;
z-index:9000;  
background-color:#000; 
display:none;
}

#boxes .window {
position:absolute;
width:500px;
height:500px;
display:none;
z-index:9999;
padding:20px;

}

/* Personalize a janela modal aqui. Você pode adicionar uma imagem de fundo. */
#boxes #dialog {
width:835px;
height:368px;
background-color: #C0C0C0;
margin-left: 14%;
margin-top: 30px;
}
/* posiciona o link para fechar a janela */
.close{
display:block; 
text-align:right;
}  
#img_modal{
	width: 100%;
	height: 100%;
}
.lbinfo{
	float: left;
	width: 350px;
}
.lbinfo1{
	float: left;
	width: 277px;
}
#barra_modal{
	height: 50px;
	width: 100%;
	margin-top: -15px;
}
#title_modal{
	float: left;
	padding-left: 70px;
	padding-top: 3px;
	font-size: 20px;
}
#opc_modal{
	float: right;
}
#modal_img{
	float:left;
	width: 120px;
	height: 124px;
	margin-left:1px;
	margin-right: 10px;
}
/*fim modal*/
/* classes */
.elemento{
font:bold 14px Tahoma, Geneva, sans-serif;
font-style:normal;
color:#ffffff;
width:62px;
padding-top: 0px;
padding-left: 0px;
padding-right: 0px;
padding-bottom: 0px;
height: 58px;
margin:0 auto;
}

.elemento:active{
position:relative;
top:2px;
}

.largura_familia{
  width: 62px;
}
.name_element{
	color: black;
	font-style:normal;
	font: bold 10px Times New Roman, Geneva, sans-serif;
}
.num_atomico{
	font-size: 10px;
	color: black;
	clear: both;
}
.info_familia{
	font-size: 14px;
}
.gasoso{
	color: blue;
}
.liquido{
	color:#DC143C;
}
.solido{
	color: black;
}
.desconhecido{
	color: #A9A9A9;
}
.hidrogenio{
	background-color: #008000;
}
.metais_alcalinos{
	background-color:#D2691E;
}
.metais_alcalinos_terrosos{
	/*background-color:#FFFF00;8*/
background: #fefcea; /* Old browsers */
background: -moz-linear-gradient(top, #fefcea 35%, #f1da36 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(35%,#fefcea), color-stop(100%,#f1da36)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #fefcea 35%,#f1da36 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #fefcea 35%,#f1da36 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #fefcea 35%,#f1da36 100%); /* IE10+ */
background: linear-gradient(to bottom, #fefcea 35%,#f1da36 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=0 ); /* IE6-9 */
}
.metais_transicao{
	background-color: #E6E6FA;
}
.lantanideos{
	background-color: #F4A460;
}
.actinideos{
	background-color:#808000;
}
.semi_metais{
	background-color: #1E90FF;
}
.nao_metais{
	background-color: #ADFF2F;
}

.metais_representativo{
	background-color: #F0E68C;
}
.halogenios{
	background-color: #40E0D0;
}
.gases_nobres{
	background-color: #4682B4;
}

.margin_lantanideos,
.margin_actinideos{
	margin-right: -4px;
}

#tabela{
	width: 1120px;
}

#div_1a,
#div_8a{
  height: auto; 	
  float: left;
}
#div_2a,
#div_3a,
#div_4a,
#div_5a,
#div_6a,
#div_7a{
  height: auto; 	
  float: left;
  padding-top: 58px;
}
#div_3b,
#div_4b,
#div_5b,
#div_6b,
#div_7b,
#div_81b,
#div_82b,
#div_83b,
#div_1b,
#div_2b{
  height: auto; 	
  float: left;
  padding-top: 174px;
}
#div_lantanideos{
	
	float:right;
	margin-right: 4px;
	padding-top: 14px;
	width: auto;
}
#div_actinideos{
	
	float:right;
	margin-right: 4px;
	width: auto;
}
#div_olograma_elemento{
	float: left;
	width: 150px;
}
#div_legenda{
	position: absolute;
	margin-left: 211;
	margin-top: -7px;
	border: 1px;
	width: auto;
	height: auto;
}

#div_legend_col1,
#div_legend_col2,
#div_legend_col3,
#div_legend_col4{
	float: left;
	width: auto;
	margin-right: 20px;
}
#div_legend_col5{
	float: left;
	width: auto;
}
#div_legend_estado{
	position: absolute;
	margin-left: 211;
	margin-top: 58px;
	border: 1px;
	width: auto;
	height: auto;
}
.size1{
	font-size: 12px;
}

#btn_serie_Lantanidios:active{
	top: 0px !important;
}
#btn_serie_actinideos:active{
	top: 0px !important;
}